@mixin flex-center($justify: space-between) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin button-style($bg-color, $hover-color) {
  background-color: $bg-color;
  color: $text-color;
  text-align: center;
  padding: 8px 0;
  border-radius: 8px;
  text-decoration: none;

  &:hover {
    background-color: $hover-color;
  }
}
