* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

section {
  padding: 48px 0;
  margin-right: 24px;
}

section h1 {
  margin-bottom: 16px;
}

button {
  display: block;
  width: 100%;
  padding: 8px 0;
  border: none;
  background-color: #119759;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 16px;
  max-width: 120px;
}
button:hover {
  background-color: #60ab88;
}

form {
  max-width: 1000px;
}

.form-campo {
  margin-bottom: 16px;
}

.form-campo label {
  font-weight: bold;
  display: block;
}

.form-campo input {
  width: 100%;
  display: block;
  padding: 8px;
}
